In [3]:
import numpy as np
import matplotlib.pyplot as plt

In [4]:
np.zeros(5) # Cree une liste de zeros de longueur 5

array([0., 0., 0., 0., 0.])

In [5]:
np.zeros((3,4)) # Cree un tableau de zeros de taille 3 linges, 4 colonnes

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [6]:
a = np.zeros((3,4))
a

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [7]:
a.shape

(3, 4)

In [8]:
a.ndim

2

In [9]:
a.size

12

In [10]:
np.zeros((3,4,2)) # Cree un tableau 3D de zeros

array([[[0., 0.],
        [0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.],
        [0., 0.]]])

In [11]:
np.ones((1,2))

array([[1., 1.]])

In [12]:
np.full((3,4), np.pi) # Full cree un table rempli d'une valeur specifique

array([[3.14159265, 3.14159265, 3.14159265, 3.14159265],
       [3.14159265, 3.14159265, 3.14159265, 3.14159265],
       [3.14159265, 3.14159265, 3.14159265, 3.14159265]])

In [13]:
np.empty((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [14]:
np.arange(1.0,5.0,2.0) # L'intervalle de np.arange exclus le dernier point! attention avec les flottants. on prefere np.linspace

array([1., 3.])

In [15]:
np.linspace(0, 10, 7)

array([ 0.        ,  1.66666667,  3.33333333,  5.        ,  6.66666667,
        8.33333333, 10.        ])

In [16]:
np.random.rand(3,3) * 4.0 - 2.0

array([[-0.40786454, -1.54869121, -1.04760439],
       [ 1.90858506,  0.32402417, -1.86916105],
       [ 1.56733394,  1.84744174,  0.67855963]])

In [17]:
def cube(x):
    return x*x*x

a = np.fromfunction(cube, (10,))

In [20]:
q1 = np.full((3,4), 5)
q1

array([[5, 5, 5, 5],
       [5, 5, 5, 5],
       [5, 5, 5, 5]])

In [23]:
q2 = np.full((4,4), 6)
q2

array([[6, 6, 6, 6],
       [6, 6, 6, 6],
       [6, 6, 6, 6],
       [6, 6, 6, 6]])

In [26]:
q3 = np.full((3,4), 12)
q3

array([[12, 12, 12, 12],
       [12, 12, 12, 12],
       [12, 12, 12, 12]])

In [31]:
np.concatenate((q1, q3), axis=1)

array([[ 5,  5,  5,  5, 12, 12, 12, 12],
       [ 5,  5,  5,  5, 12, 12, 12, 12],
       [ 5,  5,  5,  5, 12, 12, 12, 12]])

In [42]:
np.stack((q1, q3), axis=2)

array([[[ 5, 12],
        [ 5, 12],
        [ 5, 12],
        [ 5, 12]],

       [[ 5, 12],
        [ 5, 12],
        [ 5, 12],
        [ 5, 12]],

       [[ 5, 12],
        [ 5, 12],
        [ 5, 12],
        [ 5, 12]]])

In [44]:
t = np.arange(24).reshape(4,2,3)
t

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]],

       [[12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23]]])

In [48]:
t1 = t.transpose((1,2,0))
t1

array([[[ 0,  6, 12, 18],
        [ 1,  7, 13, 19],
        [ 2,  8, 14, 20]],

       [[ 3,  9, 15, 21],
        [ 4, 10, 16, 22],
        [ 5, 11, 17, 23]]])